ul {
    font-family: 'Roboto',sans-serif;
    font-size: 0.8em;
    color: #000000;
    list-style-type: circle;
  }
  
  button {
    display: inline-block;
    padding: 0.3em 1.2em;
    margin: 2px auto 30px 30px;
    border: 0.16em solid rgba(255, 255, 255, 0);
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    color: black;
    text-shadow: 0 0.05em 0.05em rgba(0, 0, 0, 0.35);
    text-align: center;
    transition: all 0.2s;
    background-color: #367188;
  }
  
  button:hover {
    border-color: #a5a5a5;
  }
  
  button:disabled {
    background-color: rgb(173, 30, 30);
  }
  .active{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35)
  }
  .personName {
    font-size: 1.2em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #757234;
    list-style-image: url("star2.png");
    text-shadow: 4px 4px 4px #686868;
  }
  .pageNumber{
    padding: 3px 11px;
  }
  li {
    color: black;
    list-style: circle;
    font-family: 'Roboto', sans-serif;
  }
  .fetchedName{
    color:tomato;
    text-shadow: 4px 4px 4px #454545
  }

  footer {
    position: relative;
    height: 200px;
    overflow: hidden;
  }
  .footer-img {
    position: absolute;
    bottom: 0;
    width: 190px;
    margin: 0;
    right: 40px;
    transform: scaleX(-1);
  }
  .yellow-line {
    position: absolute;
    background-color: #ffd900;
    height: 150px;
    width: 2000px;
    bottom: 0;
    transform: rotate(-8deg);
  }
  .divider {
    color: #ffd900;
    display: block;
    position: relative;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  .toolbar {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 500px;
    margin-left: 10px;
  }